{% load staticfiles %}
<html>
<header>
<title>Quandl Graphs</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src='{% static "quandl/quandl.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "quandl/quandl.css" %}'/>
</header>
<body>
    <h1>QUANDL</h1>
<div class="container">


</div>    
</body>

</html>
