{% verbatim %}
<script id="company-form" type="x-tmpl-mustache">
    <ul class="company-list">
        {{#result}}
        <li>
        <form id="{{Exchange}}_{{Symbol}}" {% endverbatim %} action="{% url 'quandl:create' %}" method="post">
            {% csrf_token %}
            {% verbatim %}
            <button form="{{Exchange}}_{{Symbol}}" type="submit">
                <ul class="company-info">
                    <li><strong>Name: </strong><input type="text" name="company_name" value="{{Name}}" readonly></li>

                    <li><strong>Symbol: </strong><input type="text" name="company_symbol" value="{{Symbol}}" readonly></li>
                    
                    <li><strong>Exchange: </strong><input type="text" name="company_exchange" value="{{Exchange}}" readonly></li>
                </ul>
            </button>
        </form>
        </li>
        {{/result}}
    </ul>
</script>
{% endverbatim %}