{% verbatim %}
<script id="company-form" type="x-tmpl-mustache">
    <ul class="company-list">
        {{#result}}
        <li>
        <p class="test">NEW API TEST: ROUTE CHANGED</p>
        // This Form ID Is Stupid 
        <form id="{{Exchange}}_{{Symbol}}" {% endverbatim %} action="{% url 'quandl:history' %}" method="GET">
            {% csrf_token %}
            {% verbatim %}
            <input type="hidden" name="start date" value="{{startDate}}">
            <input type="hidden" name="symbol" value="{{Symbol}}">
            <input type="hidden" name="exchange" value="{{Exchange}}">
            <button class='companyForm btn btn-Primary'form="{{Exchange}}_{{Symbol}}" type="submit">
                <ul class="company-info">
                    <li><p><strong>Name: </strong>{{Name}}</p></li>
                    <li><p><strong>Symbol: </strong>{{Symbol}}</p></li>
                    <li><p><strong>Exchange: </strong>{{Exchange}}</p></li>
                </ul>
            </button>
        </form>
        </li>
        {{/result}}
    </ul>
</script>
{% endverbatim %}