{% verbatim %}
<script id="company-form" type="x-tmpl-mustache">
    <ul class="company-list">
        {{#result}}
        <li>
        <form id="{{urlize_name}}" {% endverbatim %} action="{% url 'quandl:full-range' %}" method="GET">
            {% csrf_token %}
            {% verbatim %}
            <input type="hidden" name="start date" value="{{startDate}}">
            <input type="hidden" name="source_code" value="{{source_code}}">
            <input type="hidden" name="code" value="{{code}}">
            <input type="hidden" name="company_name" value="{{urlize_name}}">
            <button class='companyForm btn btn-Primary'form="{{urlize_name}}" type="submit">
                <ul class="company-info">
                    <li><p><strong>Name: </strong>{{name}}</p></li>
                    <li><p><strong>Code: </strong>{{code}}</p></li>
                </ul>
            </button>
        </form>
        </li>
        {{/result}}
    </ul>
</script>
{% endverbatim %}