<script id="date-form" type="x-tmpl-mustache">
    <form id="stockForm" method="POST">
        {% csrf_token %}
        <fieldset class="date">
            <legend>Stock Look Up</legend>
            <label for="company_symbol">Symbol: </label>
            {% verbatim %}
            <input type="search" name="company_symbol" value="{{ticker}}" required>
            <input type="date" name="start date" max={{today}} value={{today}}>
            {% endverbatim %}
            <input id="companyButton" type="submit" value="Search">
        </fieldset>
    </form>
</script>