<!-- make different form for logged in -->
<script id='twitter-form' type='x-tmpl-mustache'>


    <form id="twitterForm" method="POST" action='/twitter/search/'>
        {% csrf_token %}
        {% verbatim %}
        <input type="hidden" name="start date" value="{{startDate}}" readonly>
        {% endverbatim %}        
        <fieldset class="tweets">
            <legend>Twitter Look Up</legend>

            <div id='tweetFill'>
            <form id='tweetFill-form' >
            <input type='color' id='colorTweetSelection'/>
            <button id='colorTweetBut' class='btn btn-block btn-info' type="submit">Fill</button>
            </form>
            </div>

            <label for="query"># for hashtags, RT for retweets, etc.</label>
                <input type="search" id="search" name="search" required='required'/>
            <div id=filterForm>
            <label for="filter">Filter</label>
            <select class="btn-info" id="filter" name="filter">
                <option value="popular">Popular</option>
                <option value="mixed">Mixed</option>
            </select>
            </div>                
            {% if logged_in%}
            <div id='listForm'>
            <label for="list">Enter the name of your list</label>
                <input type="search" id="listName" name="listName" required='required'>
                </div>
                <select class="btn-info" id="path" name="path">
                <option value="lists">Your Twitter List</option>                
                <option value="random">Random</option>
                </select>
            {% else %}
                <select class="btn-info" id="path" name="path">
                <option value="random">Random</option>
                </select>
            {% endif %}
                <button type="submit">Search</button>       
                </fieldset>
    </form>
</script>