<!-- make different form for logged in -->
<script id='twitter-form' type='x-tmpl-mustache'>
    <form id="twitterForm" method="POST" action='/twitter/search/'>
        {% csrf_token %}
        {% verbatim %}
        <input type="hidden" name="start date" value="{{startDate}}" readonly>
        {% endverbatim %}        
        <fieldset class="tweets">
            <legend>Twitter Look Up</legend>
            <label for="query"># for hashtags, RT for retweets, etc.</label>
                <input type="text" id="search" name="search">
            {% if logged_in %}
            <label for="list">Enter the name of your list</label>
                <input type="text" id="listName" name="listName">
                {% endif %}
            <label for="filter">Filter</label>
            <select class="btn-info" id="filter" name="filter">
                <option value="popular">Popular</option>
                <option value="mixed">Mixed</option>
            </select>
            <select class="btn-info" id="path" name="path">
                <option value="random">Random</option>
                {% if logged_in %}
                <option value="lists">Your Twitter List</option>
                {% endif %}
            </select>
                <button type="submit">Search</button>       
                </fieldset>
    </form>
</script>