body{
    opacity: 0.8; 
    background-image: url("background_images/1.jpg");
}

#mariner {
    width: 100%;
    height: 5em;
}

.navButs p, #backbutton p, #selector p{
    color: white;
    font-size: 1.1em;
}

#selectorButton {
    position: absolute;
    float: left;
    margin-top: 20em;
    height: 8em;
    width: 3em;
    display: none;
}

#selectorMenu {
    margin: 21em 0 0 2.8em;
    text-align: center;
}

.navButs{   
    display:inline-block;
    float: right;
    margin: .5em 0 0 0;
}

#loginDrop{
    height: 3.2em;
}

h1 {
    margin: 1em 0 .25em 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;    
    color: black;
    font-size:3em;
}

#backButton{
    display:none;
    font-size: 2em;
    color: white;
}

#forms {
    height: 25%;
    width: 52.5%;
    /*max-height: 8em;*/
    margin: 17em auto;    
}

#graph {
    height: 42em;
    width: 80em;
    overflow-x: scroll;
    display: none;
    /*border: groove 0.2em ;
    min-height: 20em;
    display: inline-block;*/
}

#postedSearch {
    height: 60%;
    width: 45%;
    overflow-x: scroll;
    border-top: groove 0.2em;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.75em;
}

.container{
    height: 40em;
    width: 90em;
    margin: auto;
}

.returned{
    display: none;
    margin: 0 1em 0 1em;
}

legend {
    text-align: center;
}

#loading{
    text-align: center;
    margin: 2em auto 0 auto;
    width: 100%;
    display: none;    
}

p {
    font-size: 1.25em;
    font-family: 'News Cycle', sans-serif;
}

img {
    height: 2em;
}

.mainInfo{
    display: none;
    border-top: groove 0.2em;
}

.company-list {
    list-style: none;
}

ul.company-info {
    font-size: 1.5em;
    padding-left: 0.2em;
    list-style: none;
}

button {
    text-align: left;
}

#footer{
    clear: both;
    text-align: center;
}