{% extends "pages/base.html" %}
   

{% block header %}
    <div id="mariner">
    {% if logged_in %}
    <div class = "navButs"><form id="logout" method="GET" action='/users/logout/'>
        <button id="logoutButton" type='submit' class='btn btn-block btn-danger'><p>Logout</p></button>
        </form>
    </div>
    {% else %}
    <div id='login' class="navButs btn-group">
        <button type="button" id='loginDrop' class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Login <span class="caret"></span>
        </button>
         <ul class="dropdown-menu" role="menu">
            <div class ='navButs' id="tab3"></div>
         </ul>
    </div>
    {% endif %}
    <div class ='navButs' id="tab4">
    </div>
    </div>


{% endblock header %}

{% block content %}

    <div id="forms">

        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#tab1">Quote</a></li>
                <li><a href="#tab2">Find Company</a></li>
            </ul>

            <div class="tab-content">
                <div id="tab1" class="tab active"></div>
                <div id="tab2" class="tab"></div>
            </div>

            <div id='loading'><img  src='http://www.ajaxload.info/images/exemples/9.gif'/></div> 
        </div>
    </div> 

    <div class ='returned' id='footer'></div>
    <div class ='returned' id="graph"></div>   
    <div class ='returned' id="stories"></div>
    <div class ='returned' id="postedSearch"></div>
    <div id='super-secretDivBam'></div>

{% endblock content %}



