{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'pages/myapps_namespace.js' %}"></script>
    <script src="{% static 'd3.min.js' %}"></script>
    <script src="{% static 'pages/dataInterface.js' %}"></script>
    <script src="{% static 'pages/graph.js' %}"></script>
    <script src="{% static 'myapps_utils.js' %}"></script>
    <script src="{% static 'stocks/index.js' %}"></script>
    {% include "stocks/stock_search.html" %}
    {% include "stocks/search_results.html" %}
    {% include "stocks/date_range_form.html" %}
    {% include "stocks/graph_data_table.html" %}
    {% include "stocks/loading_image.html" %}
{% endblock %}

{% block cssLink %}
    <link rel="stylesheet" type='text/css' href="{% static 'stocks/index.css' %}">
{% endblock cssLink %}

{% block header %}
    <div id="intro"><h1>Market Tracker</h1></div><div id="logo"></div><hr>
{% endblock header %}

{% block topBox %}
{% endblock topBox %}

{% block middleBox %}
{% endblock middleBox %}

{% block bottomBox %}
{% endblock bottomBox %}

{% block rightContent %}
    <div id="graphBox"></div>
    <!-- Use Col span here -->
    <div id="graphInterface">
        <div id="graphInterfaceLeft">
            <h4 class="graphInterfaceTitle">Stocks</h4>
            <div class="graphInterfaceContainer">
            </div>
        </div>
        <div id="graphInterfaceMiddle">
            <h4 class="graphInterfaceTitle">Other</h4>
            <div class="graphInterfaceContainer">
            </div>
        </div>
        <div id="graphInterfaceRight">
            <h4 class="graphInterfaceTitle">Twitter</h4>
            <div class="graphInterfaceContainer">
            </div>
        </div>
    </div>
{% endblock rightContent %}