<script id='login-form' type='x-tmpl-mustache'>
    <form id="loginForm" method="POST" action='/users/login/'>
        {% csrf_token %}      
        <fieldset class="login">
            <legend>Login</legend>
            <label for="email">Email</label>
                <input type="text" id="loginEmail" name="loginEmail">
            <label for="password">Password</label>                                      <input type="password" id="loginPassword" name="loginPassword">
            <input id="loginButton" type="submit" value="Submit">
        </fieldset>
    </form>
</script>