/*This Css File Is For Basic Layout*/
body{
    opacity: 0.8; 
    background-image: url("images/1.jpg");
}
hr {
    height: 0.5em;
    background-color: white;
    margin: 0em;
}
.header-body{
    min-height: 5em;
    background-color: #ABABAB;
}
.leftContent{
    background-color: #E2E2E2;
    margin: 0.5em;
    border-radius: 5%;
    min-height: 10em;
    max-height: 15em;
    overflow: scroll;
}
.rightContent{
    background-color: #F1B1B1;
    margin: 0.5em;
    min-height: 36em;
}
.date legend{
    margin-bottom:0.5em;
}
#stockForm .form-control{
    width:100%;
}
#stockForm{
    padding: 1em;
}
#top{
    background-color: #5bc0de;
    height:8em;
    width:100%;
    font-family: 'Libre Baskerville', serif;
    padding: 0.75em 0.75em;
    color: white;
    border: none;
    /*text-align: center;*/
    /*width: 100%;*/
    /*height: 8em;*/
}
#rightColumn {
    height: 36em;
}
#leftColumn{
    display: inline-block;
    height: 36em;
}
#intro{
    display:inline-block;
    margin-top: 1em;
}
#logo{
    background-image: url('images/Drawing.png');
    width: 6em;
    height: 5.5em;
    background-size: cover;
    float:right;
}
/*Move To Index Css*/
/*#searchResultButtons{
    max-height: 6em;
    overflow: scroll;
}*/
/*Graph CSS*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.75em;
}