#stories{
    height: 42em;
    min-height: 20em;
    width: 40em;
    border-right: groove 0.2em;
    display: none;    
    overflow-x: scroll;
    overflow-y: scroll;
    padding: .25em;
    margin-bottom: 3em;
}