body{
    overflow-x: hidden;
    background-image: url("background_images/1.jpg");
    opacity: 0.8;    
}
h1 {
    margin-bottom: 0.1em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#title{
    margin-top: 4em;

}
#forms {
    height: 25%;
    width: 50%;
    margin: auto;
    overflow: hidden;
}
#graph {
    height: 60%;
    width: 45%;
    overflow-x: scroll;
/*    border: groove 0.2em ;
*/    float:left;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.75em;
}

.container{
    width: 100%;
    margin: 0 1.5em 0 1.5em;
}

.returned{
    display: none;
    margin: 2em 1em 0 1em;
}

legend {
    text-align: center;
}

a{
    color: black;
}

#loading{
    text-align: center;
    margin: auto;
    display: none;    
}

p{
    font-family: 'News Cycle', sans-serif;
}

img {
    height: 2em;
}

.mainInfo{
    display: none;
    border-top: groove 0.2em;
}

.navbar {
    background: black;
    opacity: .75;
}
