.tabs {
    width: 45em;
    display: inline-block;
    padding: .5em;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}
.tab-links {
    margin: 0.2em;
}
.tab-links li {
    margin: 0;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 0.5em 0.5em 0 0;
    background: #7FB5DA;
    font-size: 1em;
    font-weight: 600;
    color: #4C4C4C;
    transition: all linear 0.15s;
}
.tab-links a:hover {
    background: #A7CCE5;
    text-decoration: none;
}
li.active a, li.active a:hover {
    background-image: url("background_images/1.jpg");
    color: white;
}
.tab-content {
    padding: 0.5em;
    box-shadow: -0.1em 0.1em 0.1em rgba(0,0,0,0.15);
    background: white;
    border-radius: 3em;
    background-color: white;
}

.tab{
    display: none;
}
.tab.active {
    display: block;
}

fieldset{
    text-align: center;
}
