body{
    overflow: hidden;
}
#graph {
    height: 80%;
    width: 40%;
    overflow-x: scroll;
    border: dashed 0.5em;
    display: inline-block;

}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.75em;
}

.container{
    width: 100%;
    margin: 0 1.5em 0 1.5em;
}