.container {
    height: 20em;
    width: 40em;
    overflow-x: scroll;
    border: dashed 0.5em;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.5em;
}
svg > div{
    display: inline-block;
    width: 20px;
    height: 75px; 
    background-color: yellow;
}