.container {
    height: 60em;
    width: 100%;
}
#graph {
    height: 50%;
    width: 40%;
    overflow-x: scroll;
    border: dashed 0.5em;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.5em;
}