/*Css ERROR Somewhere in Here*/
/*Layout Adjustments*/
.leftContent {
    height: 32.5%;
    margin: 1%;
    padding: 1%;
    overflow: scroll;
    background-color: #E2E2E2;
    border: solid black;
}
.rightContent {
    height: 100%;
    padding: 2%;
    border-radius: 1%;
    background-color: #F1B1B1;
}
#middleBox {
    position: relative;
}
/*End Layout Section*/
/*Loading Image Options*/
.loading {
    background-image: url('/2static/images/default.svg');
    background-repeat: no-repeat;
    background-position: center;
}
/*Alignment for graph box*/
#graphBox > img.cover {
    position: absolute;
    top: 25%;
    left: 40%;
}
/*Alignment for search results box*/
#middleBox > img.cover {
    position: absolute;
    top: 26%;
    left: 26%;
}
/*End Loading Image Options*/
.searchFieldset legend{
    margin-bottom: 3%;
}
#endDateLabel {
    float: right;
    margin-right: 1%;
    margin-bottom: 0;
}

#searchResultNavigation {
    overflow: auto;
    border-bottom: solid black;
    display: block;
}
#searchResultButtons {
    max-height: 75%;
    text-align: center;
    overflow: scroll;
}
/*Right Side Of Page*/
#graphBox {
    height: 70%;
    /*background-color: #F1B1B1;*/
    background-color: grey;
}
#graphInterface {
    height: 30%;
    background-color: #F1B1B1;
    border: solid;
    box-shadow: -0.5em 0.5em 0.5em black;
    border-radius: 2%;
    overflow: auto;
}
/*Individual Graph Divs*/
#graphInterface > div {
    height: 100%;
    width: 32.5%;
    padding-right: 0.4%;
    display: inline-block;
    border-right: solid;

}
#graphInterface > div:first-child {
    padding-left: 0.4%;
}
#graphInterface > div:last-child {
    padding-right: 0;
    border-right: none;
}
/*Graph Interface*/
.graphInterfaceTitle{
    height: 10%;
    text-align: center;
}
.graphInterfaceContainer {
    height:75%;
    width: 100%;
    overflow: auto;
    background-color: red;
}
#stocksList {
    list-style-type: none;
}
/*Graph CSS*/
.axis path,.axis line {
    fill: none;
    stroke: black;
    /*shape-rendering: crispEdges; */
}

.axis text {
    font-family: sans-serif;
    font-size: 0.75em;
}