{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'd3.min.js' %}"></script>
    <script src="{% static 'graph.js' %}"></script>
    <script src="{% static 'quandl/index.js' %}"></script>
    {% include "quandl/stock_search.html" %}
    {% include "quandl/search_results.html" %}
    {% include "quandl/date_range_form.html" %}
{% endblock %}

{% block cssLink %}
    <link rel="stylesheet" type='text/css' href="{% static 'quandl/index.css' %}">
{% endblock cssLink %}

{% block header %}
    <div id="intro"><h1>Market Tracker</h1></div><div id="logo"></div><hr>
{% endblock header %}

{% block topBox %}
{% endblock topBox %}

{% block middleBox %}
{% endblock middleBox %}

{% block bottomBox %}
{% endblock bottomBox %}

{% block rightContent %}
{% endblock rightContent %}