#stories{
    height: 50em;
    min-height: 20em;
    width: 80em;
    display: none;    
    overflow-x: scroll;
    overflow-y: scroll;
    padding: .25em;
    margin-bottom: 3em;
}

p, a {
	color: black;
}

#backButton p{
    color: white;

}
