{% extends "pages/index.html" %}

{%block content%}
    <form id="registerForm" method="POST" action='/users/register/'>
        {% csrf_token %}      
        <fieldset class="login">
            <legend>Finish registration to use Twitter Lists</legend>
            <label for="email">Email</label>
                <input type="text" id="registerUEmail" name="registerEmail" required>
            <label for="password">Password</label> 
                <input type="password" id="registerPassword" name="registerPassword" required>
            <input class='btn-info margin-auto' id="registerButton" type="submit" value="Submit">
        </fieldset>
    </form>

    <form id='mainMenu' method="GET" action='/'><input type='submit' class='btn btn-Danger' value='Continue as an anonymous user'></div>
{%endblock%}
