{% extends "twitter/base.html" %}


{%block content%}
<!-- 	<div class='twitterStatus' id='updateStatus'>
		<form name="twitterStatus" id='updateStatus' action="/twitter/updatestatus/" method="POST">
			<h3>Update your status</h3>
				{% csrf_token %}
				<input name ="status" id="status" type="text"></input>
			<input id='statusButton' type="submit" value="Submit">
		</form>
	</div> -->


	<div align='center' class='twitterSearch' id='twitterSearch'>
		<form name="searchTwitter" id='searchTwitter' action="/twitter/submit/" method="POST">
			<h3>Search some stuff on twitter</h3>
			<p>Use '#' in front of your query to search hashtags, RT for retweets</p>
				{% csrf_token %}
				<input name ="search" id="search" type="text"></input>
				<select name='filter'>
					<option value="popular">Popular</option>
					<option value="mixed">Mixed</option>
					<option value="recent">Recent</option>
				</select>
				
			<input id='searchButton' type="submit" value="Submit">
		</form>
	</div>

	<div class='posted' id="postedSearch"></div>
	<div class='posted' id="postedTweets"></div>	
	<div class='posted' id="postedHashes"></div>
	<div class='posted' id='postedGraph'></div>

	{%verbatim%}
		<script id="sentimentTemplate" type="x-tmpl-mustache">
			<h3>Reaction to query</h3>		
			{{#result}} 
					<li>{{result}}</li>
	   		{{/result}}
	  	</script>

		<script id="tweetTemplate" type="x-tmpl-mustache">
			<h3>Top Tweets</h3>		
			{{#hash}} 
				<ul>
					<li>{{name}}</li>
				</ul>
	   		{{/hash}}
	  	</script>

		<script id="hashTemplate" type="x-tmpl-mustache">
			<h3>Most Popular Hashes</h3>	
			<ol>
			{{#hashes}} 
					<li>{{name}}</li>
	   		{{/hashes}}
			</ol>	   		
	  	</script>	  	
  	{%endverbatim%}  	

{%endblock%}