<script id='register-form' type='x-tmpl-mustache'>
    <form id="registerForm" method="POST" action='/twitter/register/'>
        {% csrf_token %}       
        <fieldset class="register">
            <legend>Register</legend>
            <label for="query">Register to use a list from your Twitter account</label>
            <input type="text" id="search" name="search">
            <label for="filter">Filter</label>
            <select id="filter" name="filter">
                <option value="popular">Popular</option>
                <option value="mixed">Mixed</option>
                <option value="recent">Recent</option>
            </select> 
            <input id="tweetButton" type="submit" value="Search">
        </fieldset>
    </form>
</script>