<script id='twitter-template' type='x-tmpl-mustache'>
    <form id="twitterForm" method="POST" action='/twitter/submit/'>
        {% csrf_token %}
        <fieldset class="tweets">
            <legend>Twitter Look Up</legend>
            <label for="query"># for hashtags, RT for retweets, etc.</label>
            <input type="text" id="search" name="search">
            <label for="filter">Filter</label>
            <select id="filter" name="filter">
                <option value="popular">Popular</option>
                <option value="mixed">Mixed</option>
                <option value="recent">Recent</option>
            </select> 
            <input id="tweetButton" type="submit" value="Enter">
        </fieldset>
    </form>
</script>