<script id='twitter-form' type='x-tmpl-mustache'>
    <form id="twitterForm" method="POST" action='/twitter/submit/'>
        {% csrf_token %}
        {% verbatim %}
        <input type="hidden" name="start date" value="{{startDate}}" readonly>
        {% endverbatim %}        
        <fieldset class="tweets">
            <legend>Twitter Look Up</legend>
            <label for="query"># for hashtags, RT for retweets, etc.</label>
            <input type="text" id="search" name="search">
            <label for="filter">Filter</label>
            <select id="filter" name="filter">
                <option value="popular">Popular</option>
                <option value="mixed">Mixed</option>
                <option value="recent">Recent</option>
            </select> 
    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-info">Your Lists</button>
        </div>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-danger">Random</button>
        </div>
    </div>           
        </fieldset>
    </form>
</script>